<div
  class='absolute top-0 z-[-2] h-full w-full bg-gradient-to-br from-gray-900 via-gray-800 to-gray-900'
>
  <!-- Formas abstractas de fondo -->
  <div class='absolute w-full h-full opacity-20'>
    <!-- Bloques flotantes -->

    <!-- Pieza O (yellow) -->
    <div
      class='absolute m-4 left-10 top-20 animate-[bounce_2s_ease-in-out_infinite]'
    >
      <h2 class='mb-2 font-bold'>O-piece</h2>
      <div class='grid grid-cols-2 gap-1'>
        <div class='w-8 h-8 bg-yellow-400 border-2 border-gray-800'></div>
        <div class='w-8 h-8 bg-yellow-400 border-2 border-gray-800'></div>
        <div class='w-8 h-8 bg-yellow-400 border-2 border-gray-800'></div>
        <div class='w-8 h-8 bg-yellow-400 border-2 border-gray-800'></div>
      </div>
    </div>

    <!-- Pieza T (purple) -->
    <div
      class='absolute m-4 right-32 top-48 animate-[bounce_3s_ease-in-out_infinite]'
    >
      <div class='grid grid-cols-3 gap-1 w-[104px]'>
        <div class='col-start-2 w-8 h-8 bg-purple-400 border-2 border-gray-800'>
        </div>
        <div class='w-8 h-8 bg-purple-400 border-2 border-gray-800'></div>
        <div class='w-8 h-8 bg-purple-400 border-2 border-gray-800'></div>
        <div class='w-8 h-8 bg-purple-400 border-2 border-gray-800'></div>
      </div>
    </div>

    <!-- Pieza L (orange) -->
    <div
      class='absolute m-4 left-1/4 bottom-80 animate-[bounce_5s_ease-in-out_infinite]'
    >
      <div class='flex flex-col gap-1'>
        <div class='flex gap-1'>
          <div class='w-8 h-8 bg-orange-400 border-2 border-gray-800'></div>
        </div>
        <div class='flex gap-1'>
          <div class='w-8 h-8 bg-orange-400 border-2 border-gray-800'></div>
        </div>
        <div class='flex gap-1'>
          <div class='w-8 h-8 bg-orange-400 border-2 border-gray-800'></div>
          <div class='w-8 h-8 bg-orange-400 border-2 border-gray-800'></div>
        </div>
      </div>
    </div>

    <!-- Pieza J (blue) -->
    <div
      class='absolute m-4 right-40 top-3/4 animate-[bounce_7s_ease-in-out_infinite]'
    >
      <div class='flex flex-col gap-1'>
        <div class='flex justify-end gap-1'>
          <div class='w-8 h-8 bg-blue-400 border-2 border-gray-800'></div>
        </div>
        <div class='flex justify-end gap-1'>
          <div class='w-8 h-8 bg-blue-400 border-2 border-gray-800'></div>
        </div>
        <div class='flex justify-end gap-1'>
          <div class='w-8 h-8 bg-blue-400 border-2 border-gray-800'></div>
          <div class='w-8 h-8 bg-blue-400 border-2 border-gray-800'></div>
        </div>
      </div>
    </div>

    <div
      class='absolute m-4 right-60 top-1/2 animate-[bounce_2s_ease-in-out_infinite]'
    >
      <div class='flex'>
        <div class='w-8 h-8 bg-cyan-400 border-2 border-gray-800'></div>
        <div class='w-8 h-8 bg-cyan-400 border-2 border-gray-800'></div>
        <div class='w-8 h-8 bg-cyan-400 border-2 border-gray-800'></div>
        <div class='w-8 h-8 bg-cyan-400 border-2 border-gray-800'></div>
      </div>
    </div>

    <!-- Pieza Z (red) -->
    <div
      class='absolute m-4 bottom-40 animate-[bounce_2s_ease-in-out_infinite]'
    >
      <div class='grid grid-cols-3 gap-1 w-[104px]'>
        <div class='w-8 h-8 bg-red-400 border-2 border-gray-800'></div>
        <div class='w-8 h-8 bg-red-400 border-2 border-gray-800'></div>
        <div class='col-start-2 w-8 h-8 bg-red-400 border-2 border-gray-800'>
        </div>
        <div class='col-start-3 w-8 h-8 bg-red-400 border-2 border-gray-800'>
        </div>
      </div>
    </div>
  </div>

  <!-- Efectos de neón -->
  <div class='absolute inset-0 pointer-events-none'>
    <div
      class='absolute inset-0 bg-gradient-to-r from-cyan-400/20 to-purple-400/20 mix-blend-screen'
    >
    </div>
    <div
      class='absolute top-0 left-1/2 w-1/2 h-1/2 bg-radial-gradient(from-cyan-400/30, to-transparent)'
    >
    </div>
  </div>
</div>
